
@font-face {
    font-family: 'Gilroy Light';
    src: url('assets/Gilroy-Light.otf') format('opentype');
    font-weight: 400; /* Adjust this if necessary */
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Light';
    src: url('assets/Gotham-Light.otf') format('opentype');
    font-weight: 400; /* Adjust this if necessary */
    font-style: normal;
}
@font-face {
    font-family: 'Gotham bold';
    src: url('/assets/Gotham-Bold.otf') format('opentype');
    font-weight: 400; /* Adjust this if necessary */
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
 
    color: #153F51;
}
.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.bhk-flex{
    display: flex;
}

.villa-sec{
    display: flex;
    justify-content: space-between;
}
.apartment-sec{
    display: flex;
    justify-content: space-between;
}
.contain {
    position: absolute;
    top: 7%;
    width: 100%;
}

.bg-img .home-img{
    /* aspect-ratio: 16 / 9; */
        object-fit: cover;
        display: block;
        width: 100%;
        height: auto;
    }
.bg-img{
    display: flex;
    top: 0;
    flex-wrap: wrap;
    position: relative;
}

/* .main-container{
} */

.nav-logo{
    position: absolute;
    z-index: 1;
}

.main-container {
    width: 100%;
    /* height: 100svh; */
    padding: 30px 52px;
    box-sizing: border-box;
    /* background-color: black; */
    background-color: transparent;
    position: relative;
}
.main-container-logo{
    width: 100%;
    /* height: 100svh; */
    padding: 30px 52px;
    box-sizing: border-box;
    /* background-color: black; */
    background-color: transparent;
    position: relative;
}
.container {
    width: 100%;            
    padding: 0 52px;       
    box-sizing: border-box;
  }
  .title {
    padding-top: 66.71px;
    color: #ffffff;
    font-family: 'Gotham Light', sans-serif; 
    font-weight: 700;
    line-height: 60px;
    font-size: 49px;
    max-width:55rem;
}
  .title span {
    color: #ffffff;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 400;
    line-height: 60px;
    font-size: 49.11px;
}
.second-section{
    display: flex;
}
.villas{
    background-color: #264756;
    width: calc(50%);
}

.villa-banner {
    position: absolute;
    left: 20%;
    bottom: 40%;
}
.apartment-banar {
    position: absolute;
    top: 15%;
    right: 7%;
}
.banner-font {
    padding-left: 17px;
}
.banner-font h4{
    font-size: 19px;
    font-weight: 900;
    line-height: 22.66px;
    color: #FFF600;
}
.banner-font p{
    font-size: 16px;
    font-weight: 700;
    line-height: 34.14px;
    color: #FFFFFF;
}
.Apartments{
    background-color: #0794D6;
    width: calc(50%);
}
.second-sec-content{
    display: flex;
    padding-top: 76px;
}
.second-sec-content h2{
    font-family:'Gilroy Light',sans-serif;  
    font-size: 30.17px;
    font-weight: 400;
    line-height: 29.6px;
    padding-bottom: 27px;
    color: #FFFFFF;
}
.second-sec-content span{
    font-family: 'Poppins', sans-serif;
    font-size: 50.39px;
    font-weight: 600;
    line-height: 49.43px;
}
.qrcode{
    width: 76.51px;
    height: 82.25px;
}
.qr-content{
    font-family: 'Montserrat', sans-serif;  
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.04px;
    padding: 14px;
}
.qr-content p {
    margin: 0; 
    padding-bottom: 6px; 
}
.loc-p-bg-color{
    display: flex;
    justify-content: center;
    gap: 11px;
    background: linear-gradient(to right, #3e8b38, #5add65);
    width: 18rem;
    border-radius: 0 25px 0px 25px;
}
.loc-p-bg-color img{
    padding-top: 12px;
    padding-bottom: 12px;
}
.loc-p-bg-color p{
    font-family: 'Gotham Light', sans-serif;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17.71px;
}
.villa-img{
    padding-top: 46px;
}
.bhk-villa{  
    gap: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
}
.bhk-appart {
    gap: 90px;
    padding-top: 60px;
    display: flex;
    position: relative;
}
.sqrt {
    position: relative;
}
.sqrt::before{  
    content: "";
    position: absolute;
    background-image: url('image/dot-line.png');
    width: 1px;
    height: 50px;
    background-repeat: no-repeat;
    left: -45px;
    top: 25%;
}

.space{
    width: 33.33%;
}
.bhk.space{
    text-align: center;
    color: #FFFFFF;
    /* border-right: dotted;
    border-color: #D8D8D8CF; */
}
.bhk h2{
    font-size: 25.94px;
    font-weight: 700;
    line-height: 33.9px;
    padding-top: 10px;
    font-family: 'Gotham Light', sans-serif;
}
.bhk span{
    font-size: 18px;
    font-weight: 700;
    line-height: 18.15px;
    font-family: 'Gotham Light', sans-serif;  
}
.sqrt.space{
    text-align: center;
    color: #FFFFFF;
    /* border-right: dotted;
    border-color: #D8D8D8CF; */


}
.sqrt h2{
    padding-top: 10px;
    font-family: 'Gotham Light', sans-serif;
    font-size: 25.94px;
    font-weight: 700;

}
.sqrt span{
   font-family: 'Gotham Light', sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 33.9px;
}
.money{
    position: relative;
}
.money::before{  
    content: "";
    position: absolute;
    background-image: url('image/dot-line.png');
    width: 1px;
    height: 50px;
    background-repeat: no-repeat;
    left: -45px;
    top: 25%;
}
.money.space{
    text-align: center;
    color: #FFFFFF;
}
.money h2{
    padding-top: 10px;
    font-family: 'Gotham Light', sans-serif;
    font-size: 25.94px;
    line-height: 33.9px;
    font-weight: 500;
    /* border-left: dotted; */

}
.money span{
    font-size: 15.69px;
    font-weight: 500;
    line-height: 20.5px;
    font-family: 'Gotham Light', sans-serif;
}
.loc-proximity{
    font-family: 'Gotham Light', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.79px;
    text-align: center;
    color: #FEFEFE;
    padding-top: 57px;
    padding-bottom: 32px;
}
.project-highlight{
    gap: 40px;
}
.project-flex{
    display: flex;
}
.Pristine-Villas{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    border-radius: 0 25px 0px 25px;
    padding-top: 36px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.Pristine-p{
    padding-bottom: 44px;
    font-size: 23px;
    font-family: 'Gotham Light', sans-serif;
    font-weight: 500;
    line-height: 42.94px;
}
.prox-space {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}
.prox-space p{
    font-family: 'Gotham Light', sans-serif;
    font-size: 13.61px;
    font-weight: 500;
    line-height: 16.83px;
    padding-top: 10.59px;
}
.img-circle {
    display: flex;
    background-color: #FEFEFE;
    border-radius: 25px;
    width: 48.08px;
    height: 48.08px;
    align-items: center;
    justify-content: center;
}

@media (max-width:425px) {
    .container {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
    }
    .main-container {
        width: 100%;
        /* height: 100svh; */
        padding: 30px 52px;
        box-sizing: border-box;
        /* background-color: black; */
        background-color: transparent;
        position: relative;
    }
}

@media screen and (max-width:1310px) {
    .apartment-sec{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .villa-sec{
        display: flex;
        justify-content: space-between;
        flex-direction: column;   
    }
    .project-highlight{
        gap: 0px;
    }
    /* .villa-banner{  
        display: none;
    }
    .apartment-banar {
       display: none;
    } */
    .bhk-villa {
        gap: 25px;
        padding-top: 60px;
        display: flex;
    }
    .title {
        padding-top: 56.71px;
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 700;
        line-height: 44px;
        font-size: 27px;
        max-width: 34rem;
    }
    .title span {
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 400;
        line-height: 20px;
        font-size: 27.11px;
    }
    .second-sec-content {
        display: flex;
        padding-top: 26px;
        gap: 1rem;
        padding-bottom: 0rem;
    }    
    .second-sec-content h2 {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 30.17px;
        font-weight: 400;
        line-height: 29.6px;
        padding-bottom: 0px;
        color: #FFFFFF;
    }
    .bhk h2 {
        font-size: 25.94px;
        font-weight: 700;
        line-height: 25.9px;
        padding-top: 5px;
        font-family: 'Gotham Light', sans-serif;
    }
    .bhk span {
        font-size: 17px;
        font-weight: 700;
        line-height: 13.15px;
        font-family: 'Gotham Light', sans-serif;
    }
    .sqrt h2 {
        padding-top: 10px;
        font-family: 'Gotham Light', sans-serif;
        font-size: 24.94px;
        font-weight: 700;
    }
    .sqrt span {
        font-family: 'Gotham Light', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.9px;
    }
    .money h2 {
        padding-top: 10px;
        font-family: 'Gotham Light', sans-serif;
        font-size: 25.94px;
        line-height: 23.9px;
    }
    .money span {
        font-size: 12.69px;
        font-weight: 500;
        line-height: 4.5px;
        font-family: 'Gotham Light', sans-serif;
    }
}

@media (max-width:1024px) {
    .title {
        padding-top: 66.71px;
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 700;
        line-height: 40px;
        font-size: 27px;
        max-width: 34rem;
    }
    .title span {
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 400;
        line-height: 35px;
        font-size: 27.11px;
    }
    .second-sec-content span {
        font-family: 'Poppins', sans-serif;
        font-size: 43.39px;
        font-weight: 600;
        line-height: 49.43px;
    }
    .qr-content {
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 700;
        line-height: 17.04px;
        padding: 14px;
    }
    .second-sec-content {
        padding-top: 45px;
        gap: 1rem;
        padding-bottom: 0rem;
    }
    .loc-p-bg-color {
        display: flex;
        justify-content: center;
        gap: 9px;
        background: linear-gradient(to right, #3e8b38, #5add65);
        width: 17rem;
        border-radius: 0 25px 0px 25px;
    }
    .bhk-villa {
        gap: 13px;
        padding-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bhk h2 {
        font-size: 18.94px;
        font-weight: 700;
        line-height: 25.9px;
        padding-top: 5px;
        font-family: 'Gotham Light', sans-serif;
    }
    .bhk span {
        font-size: 13px;
        font-weight: 700;
        line-height: 13.15px;
        font-family: 'Gotham Light', sans-serif;
    }
    .sqrt h2 {
        padding-top: 10px;
        font-family: 'Gotham Light', sans-serif;
        font-size: 19.94px;
        font-weight: 700;
    }
    .sqrt span {
        font-family: 'Gotham Light', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 33.9px;
    }
    .money h2 {
        padding-top: 10px;
        font-family: 'Gotham Light', sans-serif;
        font-size: 21.94px;
        line-height: 19.9px;
    }
    .money span {
        font-size: 10.69px;
        font-weight: 500;
        line-height: 3.5px;
        font-family: 'Gotham Light', sans-serif;
    }
    .loc-proximity {
        font-family: 'Gotham Light', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 19.79px;
        text-align: center;
        color: #FEFEFE;
        padding-top: 40px;
        padding-bottom: 32px;
    }
    .project-highlight {
        gap: 20px;
        /* padding-left: 20px; */
    }
    .Pristine-Villas {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 0 25px 0px 25px;
        padding-top: 15px;
        padding-bottom: 25px;
        color: #FFFFFF;
    }
    .Pristine-p {
        padding-bottom: 18px;
        font-size: 23px;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 500;
        line-height: 42.94px;
    }
    .project-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-font h4 {
        font-size: 16px;
        font-weight: 900;
        line-height: 22.66px;
        color: #FFF600;
    }
    .banner-font p {
        font-size: 13px;
        font-weight: 700;
        line-height: 25.14px;
        color: #FFFFFF;
    }
    .apartment-banar {
        position: absolute;
        top: 10%;
        right: 3%;
    }
    .prox-space {
        display: flex;
        width: 37%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:669px) {
    .second-sec-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width:768px) {
    .project-highlight {
        gap: 43px;
    }
}

@media (max-width:768px) {
    .title {
        padding-top: 45.71px;
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 700;
        line-height: 32px;
        font-size: 17px;
        max-width: 27rem;
    }
    .title span {
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 17.11px;
    }
    .Pristine-Villas {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 0 25px 0px 25px;
        padding-top: 22px;
        padding-bottom: 22px;
        color: #FFFFFF;
    }
    
}

@media (max-width:425px) {
    .prox-space {
        display: flex;
        width: 37%;
        flex-direction: column;
        align-items: center;
    }
    .title span {
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 22.11px;
    }
    .title {
        padding-top: 45.71px;
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 700;
        line-height: 32px;
        font-size: 23px;
        max-width: 25rem;
    }
}

@media (max-width:900px) {
    .banner{
        width: 50px;
        height: 58px;
    }
    .banner-font p {
        font-size: 10px;
        font-weight: 700;
        line-height: 20.14px;
        color: #FFFFFF;
    }
    .banner-font h4 {
        font-size: 13px;
        font-weight: 900;
        line-height: 14.66px;
        color: #FFF600;
    }
    .appartment{
        width: 50px;
        height: 58px;
    }
    .apartment-banar {
        position: absolute;
        top: 16%;
        right: 6%;
    }
}

@media (max-width:669px) {
    .second-section {
        display: flex;
        flex-direction: column;
    }    
    .villas{
        background-color: #264756;
        width: calc(100%);
    }
    .Apartments {
        background-color: #0794D6;
        width: calc(100%);
    }
    .Pristine-Villas {
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 0 25px 0px 25px;
        padding-top: 25px;
        padding-bottom: 35px;
        color: #FFFFFF;
    }
    .contain {
        position: relative;
        top: 50%;
        width: 100%;
    }
    .banner-font p {
        font-size: 11px;
        font-weight: 700;
        line-height: 19.14px;
        color: #FFFFFF;
    }
    .main-container {
        width: 100%;
        /* height: 100svh; */
        padding: 30px 3%;
        box-sizing: border-box;
        background-color: #108bc4;
        /* background-color: transparent; */
        position: relative;
    }
    .main-container-logo{
            width: 100%;
            /* height: 100svh; */
            padding: 20px 20px;
            box-sizing: border-box;
            /* background-color: black; */
            background-color: transparent;
            position: relative;
        }
}

@media (max-width:669px) {
    .villa-banner {
        position: static;
        left: 9%;
        bottom: 23%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        margin-top: -10px;
        text-align: center;
    }
    .apartment-banar {
        position: static;
        top: 61%;
        right: 15%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        margin-top: -10px;
        text-align: center;
    }
    .title {
        padding-top: 31.71px;
        color: #ffffff;
        font-family: 'Gotham Light', sans-serif;
        font-weight: 700;
        line-height: 32px;
        font-size: 22px;
        max-width: 24rem;
    }
    .bg-img {
        display: flex;
        top: 0;
        flex-wrap: wrap;
        position: relative;
        background-color: #108bc4;
        justify-content: space-around;
    }
}

.builder {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.builder h2{
    font-family:'Gilroy Light',sans-serif;  
    font-size: 38px;
    line-height: 51.34px;
    padding-top: 70px;
    padding-bottom: 10px;
    color: #2A5365;
}
.builder span{
    font-family:'Gilroy Light',sans-serif;  
    font-size: 38px;
    font-weight: 400;
    line-height: 51.34px;
}
.builder p{
    font-family: 'Gotham Light', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 30.68px;
    max-width: 60rem;
    padding-bottom: 146px;
    color: #153F51;
}
@media (max-width:1024px) {
    .builder h2 {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 38px;
        line-height: 51.34px;
        padding-top: 45px;
        padding-bottom: 10px;
        color: #2A5365;
    }
    .builder p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.68px;
        max-width: 60rem;
        padding-bottom: 90px;
        color: #153F51;
    }
}
@media (max-width:768px) {
    .builder h2 {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 38px;
        line-height: 51.34px;
        padding-top: 47px;
        padding-bottom: 8px;
        color: #2A5365;
    }
    .builder p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 30.68px;
        max-width: 60rem;
        padding-bottom: 98px;
        color: #153F51;
    }
}
@media (max-width:425px) {
    .builder p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 30.68px;
        max-width: 60rem;
        padding-bottom: 51px;
        color: #153F51;
    }
    .builder h2 {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 35px;
        line-height: 51.34px;
        padding-top: 70px;
        padding-bottom: 10px;
        color: #2A5365;
    }
    .builder span {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 51.34px;
    }
}

/* Button */
.enquire-btn{
    padding-top: 15px;
}
/* .enquire-btn {
    text-decoration: none;
} */
.enq-btn{
    padding-bottom: 89px;
}
.enquire-btn a{
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 23px;
    padding-left: 23px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to right, #9e1212, #CD0F0F);   
     color: #FFFFFF;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    font-family: 'Gotham bold', sans-serif;
}
@media (max-width:1024px) {
    .enq-btn {
        padding-bottom: 50px;
    }
    .enquire-btn button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(to right, #9e1212, #CD0F0F);
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 900;
        line-height: 24px;
        font-family: 'Gotham bold', sans-serif;
    }
    .enq-btn {
        padding-bottom: 7px;
    }
}
@media (max-width:1024px) {
    .enquire-btn button {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(to right, #9e1212, #CD0F0F);
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 900;
        line-height: 18px;
        font-family: 'Gotham bold', sans-serif;
    }
    .enquire-btn {
        padding-top: 0px;
    }
}
@media (max-width:768px) {
    .enquire-btn {
        padding-top: 9px;
    }
}
@media (max-width:425px) {
    .enquire-btn {
        padding-top: 16px;
        padding-bottom: 18px;
    }
    .enq-btn {
        padding-bottom: 17px;
    }
    .enquire-btn a {
        text-decoration: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(to right, #9e1212, #CD0F0F);
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 900;
        line-height: 24px;
        font-family: 'Gotham bold', sans-serif;
    }
}
@media (max-width:320px) {
    .enquire-btn a {
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 23px;
        padding-left: 23px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(to right, #9e1212, #CD0F0F);
        color: #FFFFFF;
        font-size: 11px;
        font-weight: 900;
        line-height: 24px;
        font-family: 'Gotham bold', sans-serif;
    }
}

.th {
    background-image: url('image/fourth-bg.png'); /* Set the image as background */
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-color: #1886B9; 
    position: relative; 
    width: 100%; 
    height: 376px;
}

.th::before {
    content: ""; 
    position: absolute; 
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(24, 134, 185, 0.6); 
    z-index: 1; 
}
.fourth-sec{
        display: flex;
        justify-content: space-between;
}
.dream{
    z-index: 1;
}
.dream h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 46.02px;  
    font-weight: 500;  
    color: #FFFFFF;
    max-width: 39rem;
    padding-top: 108px;
}
.dream span{
    font-family:'Gilroy Light',sans-serif;  
    font-size: 38px;
    line-height: 46.02px;
    font-weight: 400;
}
.dream p{
    font-family: 'Gotham Light', sans-serif;
    font-size: 17px;
    line-height: 27.79px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 28rem;
    padding-top: 13px;
    padding-bottom: 108px;
}
/* Form Container */
.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 43px;
    padding-right: 43px;  
    padding-top: 47px; 
    z-index: 1;
    margin-top: -60px;
    padding-bottom: 48px;

}

/* Form Heading */
.contact-form h2 {
    font-size: 17px;
    line-height: 30.68px;
    padding-bottom: 9px;
    z-index: 1;
}

/* Form Group (for input and textarea) */
.form-group {
    position: relative;
    padding-top: 24px;
    z-index: 1;
}

.form-group label {
    position: absolute;
    top: 16px;
    left: 12px;
    background-color: #fff;
    padding: 0 4px;
    font-size: 0.9em;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 15px 10px 10px; /* Extra padding at the top */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    width: 100%;
    padding: 10px;
    padding-right: 30px; /* Space for the arrow */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: #fff;
    appearance: none; /* Remove default dropdown arrow */
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow */
    background-size: 24px 24px; /* Size of the arrow */
}


/* Submit Button Styling */
.submit-btn {
    padding: 14px 34px;
    background-color: #1886B9;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    line-height: 21.6px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #155d8e;
}

/* Input Focus Styling */
.form-group input:focus,
.form-group textarea:focus {
    border-color: #1886B9;
    outline: none;
}

/* Responsive Design */
@media (max-width:1336px) {
    .form-container {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding-left: 43px;
        padding-right: 43px;
        padding-top: 24px;
        z-index: 1;
        margin-top: -71px;
        padding-bottom: 17px;
    }
    .form-group label {
        position: absolute;
        top: 16px;
        left: 12px;
        background-color: #fff;
        padding: 0 4px;
        font-size: 0.7em;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }
    .contact-form h2 {
        font-size: 13px;
        line-height: 20.68px;
        padding-bottom: 9px;
        z-index: 1;
    }
    .form-group {
        position: relative;
        padding-top: 19px;
        z-index: 1;
    }
    .dream h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        line-height: 46.02px;
        font-weight: 500;
        color: #FFFFFF;
        max-width: 39rem;
        padding-top: 108px;
    }
}

@media (max-width:904px) {
    .dream h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        line-height: 46.02px;
        font-weight: 500;
        color: #FFFFFF;
        max-width: 39rem;
        padding-top: 108px;
    }
    .dream span {
        font-family: 'Gilroy Light', sans-serif;
        font-size: 24px;
        line-height: 46.02px;
        font-weight: 400;
    }
    .dream p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 15px;
        line-height: 27.79px;
        font-weight: 400;
        color: #FFFFFF;
        max-width: 28rem;
        padding-top: 13px;
        padding-bottom: 108px;
    }
    .form-group input, 
    .form-group textarea {
        /* width: 15rem; */
        padding: 15px 10px 10px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    .submit-btn {
        padding: 10px 20px;
        background-color: #1886B9;
        color: white;
        border: none;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        font-weight: 700;
        line-height: 21.6px;
        transition: background-color 0.3s;
    }
    .fourth-sec{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
}
}

@media (max-width:425px) {
    .dream h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        line-height: 46.02px;
        font-weight: 500;
        color: #FFFFFF;
        max-width: 39rem;
        padding-top: 75px;
    }
    .form-container {
        padding: 20px;
        width: 100%;
        margin: 0;
        max-width: 320px;
    }
}
@media (max-width: 480px) {
    .form-container {
        /* padding: 20px 0; */
        width: 100%;
        max-width: 100%;
    }
    .form-group {
        position: relative;
        padding-top: 19px;
        z-index: 1;
        /* padding-right: 39px; */
    }
    .form-group input, 
    .form-group textarea {
        width: 100%;
        padding: 15px 10px 10px; 
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    .form-group label {
        position: absolute;
        top: 11px;
        left: 12px;
        background-color: #fff;
        padding: 0 4px;
        font-size: 0.7em;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }
}

/* .footer{

} */

.fot-flex {
    display: flex;
    gap: 83px;
    flex-wrap: wrap;
    padding-top: 9rem;
}

.fot-contact{
    gap: 125px;
    padding-top: 74px;
    align-items: center;
}
.locate-us h3{
    font-family: 'Gotham Light', sans-serif; 
    font-size: 16px;
    line-height: 28.88px;
}
.locate-us p{
    font-family: 'Gotham Light', sans-serif; 
    font-size: 15px;
    line-height: 27.07px;
    font-weight: 400;
}
.locate-us{
    max-width: 16rem;
}
.footer-contact h3{
    font-family: 'Gotham Light', sans-serif; 
    font-size: 16px;
    line-height: 28.88px;
}
.footer-contact p{
    font-family: 'Gotham Light', sans-serif; 
    font-size: 15px;
    line-height: 27.07px;
    font-weight: 400;
}
.Privacy{
    padding-top: 59px;
    gap: 226px;
}
.Privacy a{
    text-decoration: none;
    color: #153F51;
}
.Privacy p{
    font-family: 'Gotham Light', sans-serif; 
    font-size: 15px;
    line-height: 27.07px;
    font-weight: 400;
    padding-bottom: 25px;
}

@media (max-width:1024px) {
    .fot-contact {
        gap: 125px;
        padding-top: 105px;
        align-items: center;
    }
}
@media (max-width:904px) {
    .fot-contact {
        gap: 119px;
        padding-top: 70%;
        align-items: center;
    }
    .locate-us h3 {
        font-family: 'Gotham Light', sans-serif;
        font-size: 16px;
        line-height: 28.88px;
    }
    .footer-contact p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 12px;
        line-height: 27.07px;
        font-weight: 400;
    }
    .locate-us h3 {
        font-family: 'Gotham Light', sans-serif;
        font-size: 16px;
        line-height: 28.88px;
    }
    .locate-us p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 12px;
        line-height: 27.07px;
        font-weight: 400;
    }
    .Privacy p {
        font-family: 'Gotham Light', sans-serif;
        font-size: 12px;
        line-height: 27.07px;
        font-weight: 400;
        padding-bottom: 25px;
    }
}

@media (max-width:768px) {
    .fot-flex {
        display: flex;
        gap: 83px;
        flex-wrap: wrap;
        padding-top: 9rem;
    }
    .Privacy {
        padding-top: 57px;
        gap: 222px;
    }
    /* .flex-end {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .Privacy {
        padding-top: 59px;
        gap: 10px;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    } */
}
@media (max-width:769px) {
    .fot-flex {
        display: flex;
        gap: 31px;
        padding-top: 33rem;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .flex-end {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .Privacy {
        padding-top: 59px;
        gap: 10px;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
@media (max-width:420px) {
    .fot-flex {
        display: flex;
        gap: 31px;
        padding-top: 38rem;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .flex-end {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .Privacy {
        padding-top: 59px;
        gap: 10px;
    }
    .flex-between {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

/* Thank You Page */
.nav-bg{
    background-color: #0794D6;
}
.thankyouBlock{
    text-align: center;
}
.thankyouBlock h1{
    color: #37bd42;
    font-size: 50px;
}
.p-tag{
    font-size: 30px;
}
.page-wrapper {
    margin: 40px 0px;
    min-height: 450px;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}
.thank-btn{
    padding-top: 20px;
}
.thank-btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.thank-btn a:hover{
    text-decoration: none;
    color: #0794D6;
}
.thank-btn button{
    padding: 10px;
    background-color: #0794D6;
    border: none;
    border-radius: 10px;
}
.thank-btn button:hover{
    background-color: #ffffff;

}

