
@font-face {
    font-family: 'Gilroy Light';
    src: url('assets/Gilroy-Light.otf') format('opentype');
    font-weight: 400; /* Adjust this if necessary */
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.flex{
    display: flex;
}
.flex-justify{
    display: flex;
    justify-content: space-between;
    /* gap: 28px; */
}
.bg-image {
    background-image: url("C:/Users/HP/Desktop/Hi-Life-new/Hi-Life/image/home-bg.png");
    background-repeat: no-repeat;
    background-size: cover;            
    background-position:center;    
    /* background-attachment: fixed;     */
    height: 100vh;                     
    width: 100%;                      
}

.main-container {
    width: 100%;            
    height: 100svh;           
    padding: 30px 52px;       
    box-sizing: border-box;
  }
.container {
    width: 100%;            
    padding: 0 52px;       
    box-sizing: border-box;
  }
  .title {
    padding-top: 66.71px;
    color: #ffffff;
    font-family: 'Gotham', sans-serif; /* Use Gotham font if loaded */
    font-weight: 700;
    line-height: 60px;
    font-size: 49px;
    max-width:55rem;
}
  .title span {
    color: #ffffff;
    font-family: 'Gotham', sans-serif; /* Use Gotham font if loaded */
    font-weight: 400;
    line-height: 60px;
    font-size: 49.11px;
}
.villas{
    background-color: #264756;
    width: calc(50%);

}
.Apartments{
    background-color: #0794D6;
    width: calc(50%);
}
.second-sec-content{
    padding-top: 76px;
}
.second-sec-content h2{
    font-family:'Gilroy Light',sans-serif;  
    font-size: 30.17px;
    font-weight: 400;
    line-height: 29.6px;
    padding-bottom: 27px;
    color: #FFFFFF;
}
.second-sec-content span{
    font-family: 'Poppins', sans-serif;
    font-size: 50.39px;
    font-weight: 600;
    line-height: 49.43px;
}
.qrcode{
    width: 76.51px;
    height: 82.25px;
}
.qr-content{
    font-family: 'Montserrat', sans-serif;  
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.04px;
    padding: 14px;
}
.qr-content p {
    margin: 0; 
    padding-bottom: 6px; 
}
.loc-p-bg-color{
    display: flex;
    justify-content: center;
    gap: 11px;
    /* align-items: flex-end; */
    background: linear-gradient(to right, #3e8b38, #5add65);
    width: 18rem;
    border-radius: 0 25px 0px 25px;
}
.loc-p-bg-color img{
    padding-top: 12px;
    padding-bottom: 12px;
}
.loc-p-bg-color p{
    font-family: 'Gotham', sans-serif;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17.71px;
}
.villa-img{
    padding-top: 46px;
}
.bhk-villa{  
    gap: 90px;
    padding-top: 60px;
}
.space{
    width: 33.33%;
}
.bhk.space{
    text-align: center;
    color: #FFFFFF;
}
.bhk h2{
    font-size: 25.94px;
    font-weight: 700;
    line-height: 33.9px;
    padding-top: 10px;
    font-family: 'Gotham', sans-serif;
}
.bhk span{
    font-size: 18px;
    font-weight: 700;
    line-height: 18.15px;
    font-family: 'Gotham', sans-serif;  
}
.sqrt.space{
    text-align: center;
    color: #FFFFFF;
}
.sqrt h2{
    padding-top: 10px;
    font-family: 'Gotham', sans-serif;
    font-size: 25.94px;
    font-weight: 700;
}
.sqrt span{
   font-family: 'Gotham', sans-serif;
   font-size: 18px;
   font-weight: 500;
   line-height: 33.9px;
}

.money.space{
    text-align: center;
    color: #FFFFFF;
}
.money h2{
    padding-top: 10px;
    font-family: 'Gotham', sans-serif;
    font-size: 25.94px;
    line-height: 33.9px;
    font-weight: 500;
}
.money span{
    font-size: 15.69px;
    font-weight: 500;
    line-height: 20.5px;
    font-family: 'Gotham', sans-serif;
}
.loc-proximity{
    font-family: 'Gotham', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.79px;
    text-align: center;
    color: #FEFEFE;
    padding-top: 57px;
    padding-bottom: 32px;
}
.project-highlight{
    gap: 40px;
}
.Pristine-Villas{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px); 
    border-radius: 0 25px 0px 25px;
    padding-top: 36px;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.Pristine-p{
    padding-bottom: 44px;
    font-size: 23px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    line-height: 42.94px;
}
.prox-space {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}
.prox-space p{
    font-family: 'Gotham', sans-serif;
    font-size: 13.61px;
    font-weight: 500;
    line-height: 16.83px;
    padding-top: 10.59px;
}
.img-circle {
    display: flex;
    background-color: #FEFEFE;
    border-radius: 25px;
    width: 48.08px;
    height: 48.08px;
    align-items: center;
    justify-content: center;
}
.Button{
    background-color: red;
}
.enquire-btn{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}